<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="post-body">
    <div class="post-container">
        <div class="board" id="dashboard"></div>
        <div class="board" id="profile">
            <h1 class="post-header">PROFILE</h1>
            <br>
            <p><strong>Username:</strong> <%= profile.user ? profile.user.username : 'Unknown user' %></p>
            <% if (profile) { %>
                <form enctype="multipart/form-data" action="/profiles/<%= profile.id %>" method="post">
                    <input type="file" name="profileImage" accept="image/*">
                    <img src="/<%= profile.image %>" alt="profile image" style="width: 20px; height: 20px;">
                    <p><strong>Bio:</strong><input type="text" name="bio" value="<%= profile.bio %>"></p>
                    <p><strong>Location:</strong><input type="text" name="location" value="<%= profile.location || '' %>"></p>
                    <p><strong>Pronoun:</strong><input type="text" name="pronoun" value="<%= profile.pronoun || '' %>"></p>
                    <button type="submit">Save Changes</button>
                </form>
            <% } else { %>
              <p>User or profile not found.</p>
            <% } %>


          </div>
        </div>
</body>
</html>
