<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="post-body">
    <div class="post-container">
        <div class="board" id="dashboard"></div>
        
          <div class="board" id="profile">
            <h1 class="post-header">PROFILE</h1>
            <br>
            <img src="/<%= profile.image %>" alt="profile image" style="width: 200px; height: 200px; border-radius: 50%;" >
            <p><strong>Username:</strong> <%= profile.user ? profile.user.username : 'Unknown user' %></p>
            <% if (profile) { %>
              <p><strong>Bio:</strong> <%= profile.bio %></p>
              <p><strong>Location:</strong> <%= profile.location || 'Location not specified' %></p>
              <p><strong>Pronoun:</strong> <%= profile.pronoun || 'Not specified' %></p>
            <% } else { %>
              <p>User or profile not found.</p>
            <% } %>
          </div>
        </div>    
</body>
</html>